@import "../base/colors";
@import "../helpers/variables";
@import "../base/typography";

// HOW IT WORKS BOX
.containerHIW {
    height: $s-container;
    margin-top: 15px;
    background-color: $light-blue;
    text-align: center;
    line-height: $s-container;

    // .containerHIW:hover {
    //     background-color: red;
    // }

    .hiw {
        display: inline-block;
        vertical-align: middle;
        line-height: normal;
        font-size: 40px;  
        color: $text-grey;
        font-family: $title-typo;  
    }
}

.containerPic {
    margin-top: 15px;

    .lpPicture{
        display: block;
        height: $m-container;
        width: 100%;
    }
}

.containerSection {
    margin-top: 15px;
    background-color: $light-blue;
    height: $l-container;
    position: relative;

    .insideBox {
        background-color:  $light-blue;;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%,-50%);
        width: 50%;
        height: 75%;

        .pic1 {
            position:absolute;
            width: 50%;
            height: 50%;
            left: 0;
            top: 0;
            padding: 0.5pc;
        }

        .pic2 {
            position:absolute;
            width: 50%;
            height: 50%;
            right: 0;
            top: 0;
            padding: 0.5pc;
        }

        .pic3 {
            position:absolute;
            width: 60%;
            height: 50%;
            bottom: 0;
            left: 0;
            padding: 0.5pc;
        }

        .pic4 {
            position:absolute;
            width: 32%;
            height: 50%;
            bottom: 0;
            right: 0;
            padding: 0.5pc;
        }

        .title {
            z-index: 1;
            position: relative;
            width: 60%;
            height: 38%;
            background-color: red;
            left: 22%;
            top: 33%;
            text-align: center; 
            background-color: rgba(255,255,255,0.7);  

            &:hover {
                background-color: rgba(255,255,255,0.9);  
                cursor: pointer;
            }

            .content {
                position: relative;
                font-family: 'rafalebg';  
                top: 14%;
                font-size: 46px;

            }
        }
    }
}

.nextCollection {
    position: relative;
    left: 50%;
    top: 50%;
    transform: translate(-50%,-50%);
    width: 90%;
    height: 70%;

    .text {
        font-family: 'rafalebg';  
        position: absolute;
        width: 30%;
        left: 10%;
        top: 9%;

        .title {
            font-size: $l-font;
        }


        ul {
            list-style: none;

            li {
                font-size: 15px;
                margin: 15px 0;
            }
        }
    }

    .picture {
        width: 70%;
        height: 100%;
        right: 0;
        position: absolute;
    }
}

.artistsTitle {
    font-size: $l-font;
    font-family: 'rafalebg';  
    text-align: center;
    color: $text-grey;
}



