/*Landing Page*/
@font-face {
    font-family: 'Rafale-BG';
    src:url('Rafale-BG.ttf.woff') format('woff'),
        url('Rafale-BG.ttf.svg#Rafale-BG') format('svg'),
        url('Rafale-BG.ttf.eot'),
        url('Rafale-BG.ttf.eot?#iefix') format('embedded-opentype'); 
        font-weight: normal;
        font-style: normal;
}

nav { 
  margin-top: 0.5pc;  
  background-color: #f6fbfb;
}

#logoNav {
  width: 15pc;

}

.loginLinks {

}

#links {
  margin: 1pc;
  color: black;
}

#links:hover {
  text-decoration: none;
}

.item {
  height: 600px;
  width: 100%;
}

.carousel-caption {
    top: 35%;
    bottom: auto;
}

.title {
  width: 30pc;
}

.containerCarousel {
  width: 100%;
}

.containerHIW {
  width: 100pc;
  height: 200px;
  margin-top: 15px;
  background-color: #f3fafe;
  text-align: center;
}

.hiw {

}
