<section class="lp">
<!-- CAROUSEL -->
  <div class="containerCarousel">
    <div id="lpCarousel" class="carousel slide">

      <ol class="carousel-indicators">
        <li data-target="#lpCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#lpCarousel" data-slide-to="1"></li>
        <li data-target="#lpCarousel" data-slide-to="2"></li>
      </ol>

      <div class="carousel-inner">

        <div class="item active">
          <img src="/images/lpCarousel1.jpg" alt="first" class="img-responsive">
          <div class="carousel-caption">
            <img src="/images/logoLarge.png" class="title">
            <p class="subtitle"> The democratisation of the art market for artists and investors </p>
          </div>
        </div>

        <div class="item">
          <img src="/images/lpCarousel2.jpg" alt="sec" class="img-responsive">
          <div class="carousel-caption">
            <img src="/images/logoLarge.png" class="title">
            <p class="subtitle"> The democratisation of the art market for artists and investors </p>
          </div>
        </div>

        <div class="item">
          <img src="/images/lpCarousel3.jpg" alt="third" class="img-responsive">
          <div class="carousel-caption">
            <img src="/images/logoLarge.png" class="title">
            <p class="subtitle"> The democratisation of the art market for artists and investors </p>
          </div>
        </div>

      </div>

      <a class="carousel-control left" href="#lpCarousel" data-slide="prev">
        <span class="icon-prev"></span>
      </a>

      <a class="carousel-control right" href="#lpCarousel" data-slide="next">
        <span class="icon-next"></span>
      </a>

    </div>
  </div>

<!-- HOW IT WORKS -->
  <div class="containerHIW">
      <p class="hiw">How it works</p>
  </div>
</section>