<section class="lp">
  <div class="containerCarousel">
    <div id="lpCarousel" class="carousel slide">

      <ol class="carousel-indicators">
        <li data-target="#lpCarousel" data-slide-to="0" class="active"></li>
        <li data-target="#lpCarousel" data-slide-to="1"></li>
        <li data-target="#lpCarousel" data-slide-to="2"></li>
      </ol>

      <div class="carousel-inner">

        <div class="item active">
          <img src="/images/img1.png" alt="first" class="img-responsive">
          <div class="carousel-caption">
            <h3>First slide</h3>
            <p>name.............</p>
          </div>
        </div>

        <div class="item">
          <img src="/images/img2.png" alt="sec" class="img-responsive">
          <div class="carousel-caption">
            <h3>sec slide</h3>
            <p>name.............</p>
          </div>
        </div>

        <div class="item">
          <img src="/images/img1.png" alt="third" class="img-responsive">
          <div class="carousel-caption">
            <h3>third slide</h3>
            <p>name.............</p>
          </div>
        </div>

      </div>

      <a class="carousel-control left" href="#lpCarousel" data-slide="prev">
        <span class="icon-prev"></span>
      </a>

      <a class="carousel-control right" href="#lpCarousel" data-slide="next">
        <span class="icon-next"></span>
      </a>

    </div>
  </section>
</section>