@import "../base/colors";

.containerCarousel {
    width: 100%;

    .item {
        height: 600px;
        width: 100%;

        .carousel-caption {
            top: 18%;
            bottom: auto;

            .title {
                width: 45pc;
            }

            .subtitle {
                 color: black;
            }
        }
    }
}

.artitstsCarousel {
    width: 80%;
    position: relative;


    .item {
        position: absolute;
        height:40%;
        width: 60%;

        .carousel-caption {
            top: 18%;
            bottom: auto;

            .title {
                width: 45pc;
            }

            .subtitle {
                 color: black;
            }
        }
    }
}






