@import "../base/colors";

.containerCarousel {
    width: 100%;

    .item {
        height: 600px;
        width: 100%;

        .carousel-caption {
            top: 18%;
            bottom: auto;

            .title {
                width: 45pc;
            }

            .subtitle {
                 color: black;
            }
        }
    }
}

.artitstsCarousel {
    width: 80%;
    position: relative;

    .carousel-inner {

        .rightCarousel {
            width: 50%;
            position: absolute;
        }

        .leftCarousel {
            width: 50%;
            position: absolute;
        }
    }

}






