@import "../base/colors";


nav { 
    background-color: rgba(255,255,255,0.8);  

    #logoNav {
      width: 15pc;    
    }   

    .loginLinks {

    }   

    #links {
      margin: 1pc;
      color: $text-dark-grey;
    }   

    #links:hover {
      text-decoration: none;
      color: $text-grey;
    }
}


