// Container heights
$s-container: 250px;
$m-container: 500px;
$l-container: 600px;
$xl-container: 700px;


// font size
// $s-font:
// $m-font:
$l-font: 55px;


// Screen sizes
$break-small: 320px; // mobile
$break-medium: 641px; // tablet
$break-large: 1200px; // laptops