// Container heights
$s-container: 250px;
$m-container: 500px;
$l-container: 600px;
$xl-container: 700px;


// font size
$s-font: 20px;
$m-font: 30px;
$l-font: 55px;


// Screen sizes
$break-small: 320px; // mobile
$break-medium: 641px; // tablet
$break-large: 1200px; // laptops


// screen size
// $mobile: 480px;
// $tablet: 600px;
// $desktop: