//base
@import "base/colors";
@import "base/typography";
// components
@import "components/navigation";
@import "components/carousel";
@import "components/artistsCarousel";
//helpers
@import "helpers/variables";
//layout
@import "layout/footer";
//pages
@import "pages/lp";
@import "pages/artists";



* {
    font-family: $title-typo;
}

.sectionTitle {
    margin-top: 10%;
}

.container {
    padding-right: 0px!important; 
    padding-left: 0px!important; 
}

